body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.weather-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.weather-container:hover {
    transform: scale(1.05);
}

#weather-info, #forecast-container {
    margin-top: 20px;
}

#search-container {
    margin-top: 20px;
}

#city-input {
    padding: 10px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#search-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

#search-button:hover {
    background-color: #0056b3;
}

#weather-info img, #forecast-container img {
    transition: transform 0.3s ease-in-out;
}

#weather-info img:hover, #forecast-container img:hover {
    transform: rotate(10deg);
}